* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 232, 232);
}

.container {
    width: 64.6rem;
    height: 74.8rem;
    background-color: white;
    position: relative;
}

main {
    position: relative;
}




/***************  header  ******************/

.line-through {
    display: table;
    white-space: nowrap;
    position: absolute;
    top: 15.6rem;
    left: 15rem;
    width: 34.1rem;
    height: 1.8rem;
}

.line-through::before,
.line-through::after {
    content: "";
    display: table-cell;
    position: relative;
    top: 0.88rem;
    width: 9.4rem;
    height: 1.8rem;
    border-top: 0.2rem solid rgb(217 211 211);
}

.line-through>span {
    display: inline-block;
    margin: 0 1.4rem;
    width: 12.6rem;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #3C7E60;
    font-weight: 600;
}


/***************  main  ******************/


/* section 1 - product selection */
#product-selection .product-options {
    position: absolute;
    left: 15rem;
    width: 34.073rem;
    height: 7.411rem;
    text-align: left;
    border-radius: 0.362rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#product1 {
    top: 19.215rem;
}

#product2 {
    top: 28.434rem;
    /* 37.201 */
}

#product3 {
    /* top: 37.653rem; */
    top: 46.42rem;
}

/* radio inputs */
.radio-btn {
    position: absolute;
    top: 2.983rem;
    left: 2.169rem;
    width: 1.446rem;
    height: 1.446rem;
}

input[type=radio] {
    accent-color: #45a379;
}

/* price & qty */
.pairs-count,
.price {
    margin: 0;
    position: absolute;
    top: 1.988rem;
    left: 5.423rem;
    font-size: 1.446rem;
}

.price {
    top: 3.977rem;
    font-weight: 500;
    width: 8.2rem;
    height: 1.8rem;
}


.product-options .old-price {
    font-size: 1rem;
    color: rgb(184, 178, 178);
    text-decoration: line-through;
    width: 5.5rem;
    height: 1.2rem;
    position: absolute;
    left: 17.19rem;
    top: 4.338rem;
}

.product-options .discount1 {
    width: 6.5rem;
    height: 1.4rem;
    font-weight: 600;
    font-size: 1.4rem;
    position: absolute;
    top: 2.983rem;
    left: 25.397rem;
}

.product-options .discount2 {
    width: 5.5rem;
    height: 1.5rem;
    font-weight: 600;
    font-size: 1.265rem;
    position: absolute;
    top: 3.977rem;
    left: 26.21rem;
}

.product-options .popular {
    color: #45a379;
    font-size: 1.265rem;
    width: 8.1rem;
    height: 1.5rem;
    position: absolute;
    top: 2.169rem;
    left: 23.68rem;
}

/* when a product is selected */
#product-selection .product-selected {
    border: 2px solid #3C7E60;
    background-color: #F4FBF9;
    height: 16.178rem !important;
}


.product-details .size {
    position: absolute;
    top: 6.507rem;
    left: 5.423rem;
    width: 2rem;
    height: 1.2rem;
    font-size: 0.994rem;
    text-transform: capitalize;
}

.product-details .color {
    position: absolute;
    top: 6.507rem;
    left: 12.744rem;
    width: 3.1rem;
    height: 1.2rem;
    font-size: 0.994rem;
    text-transform: capitalize;
}

.product-details .sizes {
    width: 6.598rem;
    height: 2.531rem;
    font-size: 1.085rem;
    outline: none;
    cursor: pointer;
}

.product-details .colors {
    width: 7.23rem;
    height: 2.531rem;
    font-size: 1.085rem;
    outline: none;
    cursor: pointer;
}

/* 1st row */
.product-details .index1 {
    width: 2.3rem;
    height: 1.1rem;
    position: absolute;
    top: 9.4rem;
    left: 3.706rem;
    font-size: 0.904rem;
}

.product-details .size-input1 {
    position: absolute;
    top: 8.405rem;
    left: 5.423rem;
}

.product-details .clr-input1 {
    position: absolute;
    left: 12.744rem;
    top: 8.405rem;
}

/* 2nd row */

.product-details .index2 {
    width: 2.3rem;
    height: 1.1rem;
    position: absolute;
    top: 12.653rem;
    left: 3.615rem;
    font-size: 0.904rem;
}

.product-details .size-input2 {
    position: absolute;
    top: 11.659rem;
    left: 5.423rem;
}

.product-details .clr-input2 {
    position: absolute;
    left: 12.744rem;
    top: 11.659rem;
}



/* section 2 - cart details */

.shipping {
    position: absolute;
    top: 56.3rem;
    left: 14.9rem;
    height: 1.7rem;
    width: 13.4rem;
    font-size: 1.4rem;
    color: #45a379;
}

.total {
    position: absolute;
    top: 56.3rem;
    left: 36.5rem;
    height: 1.7rem;
    width: 12.5rem;
    font-size: 1.4rem;
}

/* button */
button {
    position: absolute;
    top: 60.4rem;
    left: 14.9rem;
    width: 34.1rem;
    background-color: #3C7E60;
    color: white;
    font-size: 1.6rem;
    height: 4.8rem;
    border: none;
    border-radius: 0.4rem;
    font-weight:600;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}


/***************  footer  ******************/
footer {
    position: absolute;
    top: 66rem;
    left: 38rem;
    font-style: italic;
    font-size: 1.2rem;
    width: 11.3rem;
    height: 1.5rem;
    white-space: nowrap;
}




/* success message with animations */
#success-msg {
    background-color: #3C7E60;
    border-radius: 10px;
    padding: 10px 20px;
    width: 30rem;
    color: white;
    font-weight: 600;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 1;
}

#success-msg p {
    font-size: 1.2rem;
}

#success-msg p:first-child {
    text-align: center;
    font-size: 1.5rem;
}

#success-msg.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 50%;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 50%;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

/***************  responsive css  ******************/
@media screen and (max-width:645px) {
    .container {
        width: 46.8rem;
        border: 2px solid red;
    }

    #product-selection .product-options,
    .shipping,
    button,
    .line-through {
        left: 6.35rem;
    }

    .total {
        left: 27.95rem;
    }

    footer {
        left: 28rem;
    }

}

@media screen and (max-width:468px) {
    .container {
        width: 37.5rem;
        border: 2px solid yellow;
    }


    #product-selection .product-options,
    .shipping,
    button,
    .line-through {
        left: 1.746rem;
    }

    .total {
        left: 23.346rem;
    }

    footer {
        left: 24rem;
    }
}