* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 232, 232);
}

.container {
    width: 64.7rem;
    background-color: white;
}

/************ common ***************/
section {
    margin-left: 15rem;
    margin-right: 15.6rem;
    width: 34.1rem;
}


/***************  header  ******************/

.line-through {
    display: table;
    white-space: nowrap;
    margin: 15.6rem 15.6rem 1.8rem 15rem;
    width: 34.1rem;
    height: 1.8rem;
}

.line-through::before,
.line-through::after {
    content: "";
    display: table-cell;
    position: relative;
    top: 0.88rem;
    width: 9.4rem;
    height: 1.8rem;
    border-top: 0.2rem solid rgb(217 211 211);
}

.line-through>span {
    display: inline-block;
    margin: 0 1.4rem;
    width: 12.6rem;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #3C7E60;
    font-weight: 600;
}


/***************  main  ******************/


/* section 1 - product selection */
#product-selection .product-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 34.1rem;
    height: 7.4rem;
    padding: 2rem 2.2rem;
    border-radius: 0.4rem;
    margin-bottom: 1.8rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* radio inputs */
.radio-btn {
    width: 1.4rem;
    height: 1.4rem;
}

input[type=radio] {
    accent-color: #45a379;
    transform: scale(1.2);
}

/* price & qty */
.product-options .product-qty-price {
    font-size: 1.4rem;
    width: 17.1rem;
    margin-left: 1.8rem;
    margin-right: 1rem;
}

.product-options .product-qty-price .pairs-count {
    text-transform: capitalize;
    width: 3.6rem;
    height: 1.8rem;
}

.product-options .product-qty-price .price {
    font-weight: 600;
    width: 8.2rem;
    height: 1.8rem;

}

.product-options .product-qty-price .old-price {
    font-size: 1rem;
    color: rgb(184, 178, 178);
    white-space: nowrap;
    text-decoration: line-through;
    width: 5.5rem;
    height: 1.2rem;
    position: relative;
    left: 11.6rem;
    bottom: 1.8rem;

}

.product-options .discount {
    width: 6.5rem;
    height: 3.3rem;
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-options .discount p:first-child {
    color: #45a379;
    font-size: 1.3rem;
    width: 8.1rem;
    height: 1.5rem;
    margin-bottom: 0.4rem;
    white-space: nowrap;
}

/* when a product is selected */
#product-selection .product-selected {
    border: 2px solid #3C7E60;
    background-color: #F4FBF9;
    height: 16.2rem !important;
}

.product-selected .radio-btn .checkmark {
    border: 2px solid #3C7E60;
}

/* sizes & colors */
.product-details {
    display: flex;
    flex-direction: column;
    width: 17.7rem;
    height: 7.6rem;
    margin: 0.8rem 0 2rem 3.7rem;
}

.product-details .row1 {
    display: flex;
    height: 1.2rem;
    margin-bottom: 0.7rem;
}

.product-details .row2,
.product-details .row3 {
    display: flex;
    margin-bottom: 0.7rem;
    height: 2.5rem;
}

.product-details .row1 .size {
    width: 2rem;
    height: 1.2rem;
    font-size: 1em;
    margin-right: 5.3rem;
    margin-left: 0.7rem;
    text-align: left;
}

.product-details .row1 .color {
    width: 3.1rem;
    height: 1.2rem;
    font-size: 1rem;
    text-align: left;
}

.product-details .index {
    width: 2.3rem;
    height: 1.1rem;
    margin-bottom: 2.2rem;
}

.product-details .size-input {
    width: 6.6rem;
    height: 2.5rem;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
}

.product-details .clr-input {
    width: 7.2rem;
    height: 2.5rem;
    margin-left: 0.7rem;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
}

/* section 2 - cart details */
#cart-details .shipping-info {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 2.5rem;
    margin-bottom: 2.4rem;
    width: 34.1rem;
}

.shipping-info p:first-child {
    color: #3C7E60;
    font-weight: 600;
    width: 13.4rem;
    height: 1.7rem;
    margin-right: 8.2rem;
}

.shipping-info p:last-child {
    font-weight: 600;
    width: 12.5rem;
    height: 1.7rem;
    text-align: right;
}

/* button */
button {
    width: 34.1rem;
    background-color: #3C7E60;
    color: white;
    font-size: 1.6rem;
    height: 4.8rem;
    border: none;
    border-radius: 0.4rem;
    font-weight: 600;
    padding: 1.6rem 11.6rem 1.3rem 12.1rem;
    margin-bottom: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}


/***************  footer  ******************/
footer {
    margin-bottom: 7.3rem;
    display: flex;
    /* float: right; */
    font-style: italic;
    margin-left: 37.7rem;
    font-size: 1.2rem;
    width: 12rem;
    height: 1.5rem;
}

footer small {
    margin-right: 0.5rem;
}


/* success message with animations */
#success-msg {
    background-color: #3C7E60;
    border-radius: 10px;
    padding: 10px 20px;
    width: 30rem;
    color: white;
    font-weight: 600;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 1;
}

#success-msg p {
    font-size: 1.2rem;
}

#success-msg p:first-child {
    text-align: center;
    font-size: 1.5rem;
}

#success-msg.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 50%;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 50%;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

/***************  responsive css  ******************/

@media screen and (max-width:468px) {
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .line-through {
        margin: 15.6rem 4rem 1.8rem 4rem;
    }

    section {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    footer {
        margin-left: 25rem;
    }
}

@media screen and (max-width:378px) {


    .line-through {
        margin: 15.6rem 0rem 1.8rem 0rem;
    }

    section {
        margin-left: 0;
        margin-right: 0;
    }

    footer {
        margin-left: 22rem;

    }
}